<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ebook.dao.BookDao">
    <resultMap id="BookMap" type="net.ebook.model.Book">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="category" property="category"/>
        <result column="author" property="author"/>
        <result column="translator" property="translator"/>
        <result column="publisher" property="publisher"/>
        <result column="description" property="description"/>
        <result column="publish_time" property="publishTime"/>
        <result column="create_time" property="createTime"/>
        <result column="is_deleted" property="deleted"/>
    </resultMap>s
    
    <select id="findById" resultMap="BookMap" parameterType="java.lang.Long">
        SELECT * FROM book WHERE id=#{id} and is_deleted=0
    </select>
    
    <select id="findByCategory" resultMap="BookMap" parameterType="java.lang.Long">
        SELECT * FROM book WHERE category=#{category} and is_deleted=0
    </select>

    <insert id="saveBook" keyProperty="book.id" parameterType="net.ebook.model.Book" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO book(name,category,author,translator,publisher,description,publish_time,create_time,is_deleted)
        VALUES (#{book.name},#{book.category},#{book.author},#{book.translator},#{book.publisher},#{book.description},#{book.publishTime},#{book.createTime},#{book,deleted})
    </insert>

    <update id="updateBook" parameterType="net.ebook.model.Book">
        UPDATE book SET name=#{book.name},author=#{book.author},publisher=#{book.publisher},description=#{book.description},translator=#{book.translator},publish_time=#{book.publish_time}
        WHERE id=#{book.id}
    </update>
</mapper>