<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ebook.dao.CategoryDao">
    <resultMap id="CategoryMap" type="net.ebook.model.Category">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="create_time" property="createTime"/>
        <result column="is_deleted" property="deleted"/>
        <result column="menu" property="menu"/>
    </resultMap>
    
    <select id="findAll" resultMap="CategoryMap">
        SELECT * FROM category WHERE is_deleted=0
    </select>
</mapper>