<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ebook.dao.MenuDao">
    <resultMap id="MenuMap" type="net.ebook.model.Menu">
        <result column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="menu" property="menu"/>
        <result column="detail" property="detail"/>
        <result column="url" property="url"/>
    </resultMap>

    <select id="findByRoleId" resultMap="MenuMap" parameterType="long">
        SELECT * FROM menu WHERE role_id = #{roleId}
    </select>
</mapper>