<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ebook.dao.UserDao">
    <resultMap id="UserMap" type="net.ebook.model.User">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="mobile" property="mobile"/>
        <result column="password" property="password"/>
        <result column="create_time" property="createTime"/>
        <result column="is_delete" property="deleted"/>
        <result column="img_url" property="imgUrl"/>
    </resultMap>

    <select id="findById" resultMap="UserMap" parameterType="java.lang.Long">
        SELECT * FROM user WHERE id = #{id}
    </select>
    
    <select id="findByEmail" resultMap="UserMap" parameterType="java.lang.String">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <select id="findAll" resultMap="UserMap">
        SELECT * FROM user
    </select>

    <select id="findByKeyword" resultMap="UserMap" parameterType="java.lang.String">
        SELECT * FROM user WHERE name LIKE #{keyword}
    </select>

    <select id="findByMobile" resultMap="UserMap" parameterType="java.lang.String">
        SELECT * FROM user WHERE mobile = #{mobile}
    </select>

    <insert id="createUser" parameterType="net.ebook.model.User" useGeneratedKeys="true" keyProperty="user.id" keyColumn="id">
        INSERT INTO user(name,email,mobile,password,create_time,is_delete)
        VALUES(#{user.name},#{user.email},#{user.mobile},#{user.password},#{user.createTime},#{user.deleted})
    </insert>
    
    <update id="updateUser" parameterType="net.ebook.model.User">
        UPDATE user SET name=#{user.name},password=#{user.password},email=#{user.email},mobile=#{user.mobile},img_url=#{user.imgUrl} WHERE id=#{user.id}
    </update>
</mapper>
